<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>

<p>
    <a href="/song">Blog</a>
</p>
<form th:action="@{/templates/blog}" th:object="${blogObject}">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title</td>
            <td th:text="${blogObject.title}"></td>
        </tr>
        <tr>
            <td>Author: </td>
            <td th:text="${blogObject.author}"></td>
        </tr>
        <tr>
            <td>content</td>
            <td th:text="${blogObject.content}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Trở về"></td>
        </tr>
    </table>
</form>
</body>
</html>