<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<h3>Customer List</h3>
<p>

</p>
<form action="/list" method="get">
    <div>
        <span>Tìm kiếm tên khách hàng</span><input type="text" name="keyword" th:placeholder="${keyword}">
        <span>Thời gian</span><input th:type="date" name="startDay">
        <span>Đến</span><input th:type="date" name="endDay">
        <input type="submit" value="Search">
        <p th:text="${message}"></p>
    </div>
</form>
<table id="products">
    <thead>
    <tr>
        <th>STT</th>
        <th>Mã khách hàng</th>
        <th>Tên khách hàng</th>
        <th>Thời gian bắt đầu gửi</th>
        <th>Kỳ hạn</th>
        <th>Số tiền gửi</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="passbook,loop : ${passbookList}">
        <td th:text="${loop.count}"></td>
        <td th:text="${passbook.customer.code}"></td>
        <td th:text="${passbook.customer.name}"></td>
        <td th:text="${passbook.startDay}"></td>
        <td th:text="${passbook.period}"></td>
        <td th:text="${passbook.moneySave}"></td>
        <td><a th:href="@{/edit/{id}(id=${passbook.id})}">edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${passbook.id})}">delete</a></td>
        <td><a th:href="@{/view/{id}(id=${passbook.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if ="${passbookList.hasPrevious()}" th:href="@{/list(page=${passbookList.number - 1},keyword=${keyword})}">Previous</a>
    <span th:text="${passbookList.number + 1 }"></span>
    <span th:text="${passbookList.totalPages }"></span>
    <a th:if ="${passbookList.hasNext()}" th:href="@{/list(page=${passbookList.number + 1},keyword=${keyword})}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>